
*.sqlite
*.json
*.sqlite
.vs/Test/v17/.suo
.vs/slnx.sqlite
.vs/slnx.sqlite
*.sqlite-journal
*.sqlite
*.vsidx
*.vsidx
*.vsidx
*.lock
Test/obj/Debug/Test.pdb
Test/obj/Debug/Test.exe
Test/obj/Debug/DesignTimeResolveAssemblyReferences.cache
*.pdb
*.exe
.vs/TASK/v17/.wsuo
*.exe
